
.auth-tag {
  
  cursor: pointer;
}

#app {
  width: 80vw;
  margin: 0 auto;
  max-width: 768px;
  min-width: 440px;
  color: rgb(74, 74, 74);
}

header {
  display: flex;
  align-items: center;
}
header > img {
  margin: 0 1rem;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 80px;
}

.tag-config__item {
  display: none;
}
.tag-config__item > span:first-child {
  display: inline-block;
  vertical-align: top;
  min-width: 5em; 

}

.tag-config__tip {
  text-align: center;
  line-height: 150px;
}

#tag-config.--checked > .tag-config__item {
  display: block;
}

#tag-config.--checked > .tag-config__tip {
  display: none;
}

/* 复制的投稿按钮 */
 .button {
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 34px;
  border-radius: 8px;
  background: #fb7299;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: background-color .3s;
  border: none;
}

.button--blue {
  background-color: #00aeecff;
}
.button:hover {
  background-color: #C9CCD0;
}

#tag-wrapper .auth-tag {
  margin-top: 8px !important;
}